*{
  margin: 0;
  padding: 0;
  background-color: black;
}
.layout-logo{
  background-image: url(https://images.ctfassets.net/4cd45et68cgf/4nBnsuPq03diC5eHXnQYx/d48a4664cdc48b6065b0be2d0c7bc388/Netflix-Logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 130px;
  height: 60px;
  margin-top: -8px;
}
.layout-container{
  background-color: black;
  margin-top: -8px;
  padding: 10px 0;
}
.layout-color{
  color: #fff;
}
#make-black{
  background-color: black !important; 
}